.search-container {
    margin-top: 40px;
}

.search-container input[type=text] {
    padding: 6px;
    font-size: 15px;
    border: none;
    border-radius: 3%;
    background-color: black;
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;    
}

.search-container button {
    padding: 4px 10px;
    margin-left: 20px;
    background: rgb(0, 0, 0);
    color: white;
}
